:root{
    --danger: #E6533C;
    --primary: #222222;
    --secondary: rgba(255, 255, 255, 50%);
}

*{
  margin: 0;
  padding: 0;
}
body{
    font-family: "Inter", sans-serif;
    background: #111111;
    background-repeat: no-repeat;
   background-size: cover;
   background-position: center;
}
h1, h2, h3, h4, h5, h6, ul, p, ol,li, a, div, input{
    margin: 0;
    padding: 0;
   box-sizing: border-box;
}
ul,ol,li{
    list-style-type: none;
}

a{
    text-decoration: none;
    display: inline-block;
}
.container{
  max-width: 1140px;
  margin: 0 auto;
  padding: 10px;
}
.btn_primary{
    padding: 16px 46px;
    background: var(--danger);
    font-size: 18px;
    font-weight: 600;
    color: #fff;
    border-radius: 42px;
}
section{
    padding: 90px 0;
}
.section_title{
   font-size: 48px;
   font-weight: 800;
   color: white;
   text-align: center;
   margin-bottom: 14px;
}
.section_para{
    font-size: 14px;
   font-weight: 400;
   color: rgba(255, 255, 255, 50%);
   line-height: 24px;
   text-align: center;
   width: 600px;
   margin: 0 auto;
}
/* common css end */

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;

}
nav ul {
    display: flex;
    column-gap: 50px;
    align-items: center;
    border: 1px solid rgba(255, 255, 255, 0.2);
    padding: 4px 8px;
    border-radius: 39px;
    
}
nav ul li:first-child{
    padding: 8px 20px;
    background: var(--danger);
    border-radius: 39px;
}
nav ul li:first-child a{
    font-size: 18px;
    font-weight: 600;
    color: #fff;
}
nav ul li a{
    font-size: 18px;
    font-weight: 400;
    color: #fff;
}
nav ul .bar{
    color: white;
    display: none;
}
.header_logo{
    color: var(--danger);
    font-size: 36px;
    font-weight: 600;
    font-style: italic;

}
/* nav bar end */

@media screen and (max-width: 575px){
    section{
        padding: 40px 0;
    }
    .section_title{
       font-size: 25px;
    }
    .section_para{
        font-size: 14px;
        width: 95%;
    }
      
   
    .btn_primary{
        padding: 14px 20px;
        font-size: 14px;
       
    }


    nav ul li{
        display: none;
    }
    nav ul .bar{
        display: inline-block;
        font-size: 22px;
        color: white;
    }
  
}
/* responsive navbar */

.hero_container{
    display: flex;
    align-items: center;
    column-gap: 70px;
    padding: 50px 0;
}
.hero_text{
    max-width: 52%;
}
.hero_text h1{
    font-size: 78px;
    line-height: 120%;
    color: white;
    font-weight: 600;

}

.hero_text h1 span:first-child{
    font-family: "Pinyon Script", cursive;
    font-weight: 400;
    font-size: 80px;
    line-height: 32px;
}
.hero_text h1 span:last-child{
    display: block;
}


.hero_text p{
    margin: 28px 0;
    font-size: 16px;
    color: rgba(255, 255, 255, 0.5);
    line-height: 24px;
    width: 500px;
}

.hero_image{
    max-width: 44%;
    position: relative;
}

.hero_overlay1{
    position: absolute;
    bottom:63px;
    left: -109px;
    display: flex;
    align-items: center;
    column-gap: 15px;
    background: rgba(48, 47, 48, 54%);
    padding: 20px;
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 10%)
}
.hero_overlay1 .circle{
    width: 40px;
    height:40px;
    background: var(--danger);
    border-radius: 50%;
}
.hero_overlay1 h3, .hero_overlay2 h3{
    font-size: 24px;
    font-weight: 900;
    color: white;
    margin-bottom: 8px;
}
.hero_overlay1 h4, .hero_overlay2 h4{
    color: rgba(239, 237, 232, 65%)
}
.hero_overlay2{
    position: absolute;
    top:120px;
    right: -65px;
    background: rgba(48, 47, 48, 54%);
    padding: 20px;
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 10%)
}
.btns{
    display: flex;
    align-items: center;
    column-gap: 14px;
}
.btn_dwnload{
    padding: 16px 46px;
    font-size: 18px;
    font-weight: 600;
    color: #fff;
    border-radius: 42px;
    border: 1px solid #fff;
}
/* hero banner part end */

@media screen and (max-width: 575px){
    .hero_container{
        display: flex;
        flex-wrap: wrap;
        row-gap: 48px;
    }
    .hero_text{
        max-width: 100%;
    }
    .hero_image{
        max-width:100%
    }
    .hero_image img{
        max-width: 90%;
    }
    
    .hero_text h1{
        font-size: 36px;
        line-height: 120%;
        width: auto;
    
    }
    
    .hero_text h1 span{
        font-size: 40px;
    }
    
    .hero_text p{
        margin: 20px 0;
        width: auto;
    }
    .hero_overlay1{
        bottom:150px;
        left: 4%;
        padding: 10px;
       
    }

    .hero_overlay1 .circle{
        width: 30px;
        height:30px;
       
    }
    .hero_overlay1 h3, .hero_overlay2 h3{
        font-size: 14px;
        
    }
    
    .hero_overlay1 h4, .hero_overlay2 h4{
        font-size: 12px;
    }
    .hero_overlay2{
        top:58px;
        right: 5px;
        padding: 10px;
       
    }
    .btns{
        display: flex;
        align-items: center;
        column-gap: 14px;
    }
    .btn_dwnload{
        padding: 14px 20px;
        font-size: 14px;
    }
    
}
/* responsive hero bannner part */

.habits_content{
    /* width: 100%; */
    /* display: block; */
    /* display: grid;
    grid-template-columns: (4, 1fr); */
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 40px;
    margin-top: 58px;
   
}
.habits{
    width:24.50%;
    text-align: center;
    display: inline-block;
}
.habits img{
    width: 180px;
    height:180px;
    border-radius: 50%;
    border: 4px solid rgba(255, 255, 255, 10%);
    margin:0 auto 30px;
}
.habits h3{
    font-size: 18px;
    font-weight: 600;
    color: white;
    margin-bottom: 6px;
}
.habits p{
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    color: var(--secondary);
}
/* habits part end */


@media screen and (max-width: 575px){

    .habits_content{
        display: flex;
        flex-wrap: wrap;
        row-gap: 40px;
        margin-top: 58px;
       
    }
    .habits{
        width:100%;
        padding: 20px;
        border: 1px solid var(--primary)
    }
}
/* habits part responsive */

.run_container{
    display: flex;
    justify-content: space-between;
    padding: 40px 54px;
    border-radius: 18px;
    background: var(--primary);
}
.run_content{
    width: 50%;
}
#run_extra_part .section_title span{
    display: block;
}

.run_content h2{
    text-align: left;
}
.run_content p{
    text-align: left;
    width: 400px;
    margin:0;
    
}
.run_content a{
    width: 200px;
    text-align: center;
    margin-top: 34px;
}

.run_img{
    width: 50%;
    display: flex;
    justify-content: flex-end;
}
.run_img_pad{
    display: block;
}
.run_img_small{
    display: none;
}
.run_img_small img{
    width: 100%;
    border-radius: 18px;
}
/* run extra mile part end */

@media screen and (max-width: 575px) {
    .run_container{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        row-gap:40px;
        padding:30px;
    }
    .run_content{
        width: 100%;
    }
    .run_img_pad{
        display: none;
    }
    .run_img_small{
        display: block;
    }

    .run_content h2{
        text-align: left;
    }
    .run_content p{
        text-align: left;
        width: auto;
        margin:0;
        
    }
    .run_content a{
        width: 90%;
        margin-top: 34px;
    }
       
}
/* run extra mile responsive end */
.BMI_calc_inner{
    background: var(--primary);
    padding: 49px 0;
    margin-top: 58px;
}

.BMI_calc_container{
    display: flex;
    column-gap: 75px;
}

.BMI_chart{
    width: 40%;
}
.BMI_chart table{
   text-align: left;
   width: 90%;
    
}
.BMI_chart table, td, th{
    padding: 15px 18px;
    font-size: 14px;
    color:var(--secondary);
    border: 1px solid rgba(255, 255, 255, 10%);
    border-collapse: collapse;

}


.BMI_calc{
    width: 60%;
   
}
.BMI_calc_title{
    font-size: 28px;
    font-weight: 900;
    color: white;
    margin-bottom: 14px;

}
.BMI_calc p{
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
    color: var(--secondary);
    margin-bottom: 34px;
    width: 547px;
}

.BMI_form .seperate_input{
    display: flex;
    column-gap: 12px;
}
.BMI_form .activity_input{
   width: 100%;
   display: block;
}
.BMI_form input{
    padding: 13px 20px;
    font-size: 16px;
    border-radius: 8px;
    width: 49%;
    background: #383838;
    border: 1px solid transparent;
    margin: 8px 0;
    color: rgba(255, 255, 255, 60%) !important;

    
}
.seperate_input select{
    padding: 13px 20px;
    font-size: 16px;
    border-radius: 8px;
    width: 49%;
    background: #383838;
    border: 1px solid transparent;
    margin: 8px 0;
    color: rgba(255, 255, 255, 60%) !important;

    
}
.BMI_form select{
    padding: 13px 20px;
    font-size: 16px;
    border-radius: 8px;
    width: 100%;
    background: #383838;
    border: 1px solid transparent;
    margin: 8px 0;
    color: rgba(255, 255, 255, 60%) !important;
    appearance: none;
    background-image: url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iOCIgaGVpZ2h0PSI0IiB2aWV3Qm94PSIwIDAgOCA0IiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPjxwYXRoIGZpbGw9IiNGRkYiIGQ9Ik00LjI1IDQuNGEuNzUuNzUgMCAwMCAuNTMtLjI0bDMtM2EuNzUuNzUgMCAwMC0xLjA2LTEuMDZMNCAyLjk3IDEuMjggLjcxaC0uMDEtLjAxYS43NS43NSAwIDAwLTEuMDUgMS4wNWwzIDNhLjc1Ljc1IDAgMDAuNTIuMjJ6Ii8+PC9zdmc+');
    background-repeat: no-repeat;
    background-position: right 13px center;
    background-size: 13px 13px; 

    
}
.BMI_form select option{
    padding-right: 13px;
}

.BMI_form input:nth-child(5){
    width: 100%;
}

.BMI_form input::placeholder{
    font-size: 16px;
    color: rgba(255, 255, 255, 60%)
    
}
.BMI_form .btn_primary{

    margin-top: 25px;
}

.BMI_form input:focus{
    outline: 0;
    border: 1px solid var(--secondary)
}
/* BMI Calculator part end */

@media screen and (max-width: 575px){
    .BMI_calc_container{
        flex-wrap: wrap;
        row-gap: 30px;
    }
    
    .BMI_chart{
        width: 100%;
    }
    
    .BMI_calc{
        width: 100%
    }
    .BMI_calc_title{
        font-size: 20px;
        font-weight: 900;
        color: white;
        margin-bottom: 14px;
    
    }

   
    .BMI_calc p{
        width: auto;
    }

}
/* bmi calculator responsive end */

.team_container{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 50px;
    padding: 20px;
    border-radius: 18px;
    background: var(--primary);
    
}

.team_member{
    width: 32%;
    position: relative;

}
.team_member img{
    height: 280px;
    width: 100%;
    border-radius: 18px;
}
.team_text{
    position: absolute;
    bottom: 16px;
    left: 16px;
}
.team_text h3{
    font-size: 20px;
    font-weight: 800;
    color: white;
    margin-bottom: 3px;
}
.team_text h4{
    font-size: 14px;
    color: var(--secondary);
}
/* our team part end */

@media screen and (max-width: 575px){
   
    .team_container{
        display: flex;
        flex-wrap: wrap;
        gap: 30px;
        padding: 20px;
    }
    
    .team_member{
        width: 100%;
       
    }
}
/* responsive our team */
.member_card_part{
    display: flex;
    column-gap: 30px;
}

.member_card {
    width: 32.50%;
    background: #000;
    text-align: center;
    cursor: pointer;
    margin-top: 50px;
    overflow: hidden;
    transition: all linear 0.3s;
    

}

.member_card h3 {
    padding: 15px 0;
    background: #dddddd;
    color: var(--primary);
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    transition: all linear 0.3s;
   
}

.member_card h2 {
    padding: 20px 0;
    color: #fff;
    font-size: 29px;
    font-weight: 700;
    position: relative;
    z-index: 999;
    transition: all linear 0.3s;
   
}

.member_card h2 span {
    font-size: 35px;
}

.member_card h2::after {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    z-index: -1;
}

.member_card ul {
    padding: 20px 0;
    background: #f1f1f1;
}

.member_card ul li {
    color: #444444;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    padding-bottom: 27px;
}

.member_card ul li:last-child {
    padding-bottom: 0;

}

.member_card a {
    padding: 10px 0;
    width: 100%;
    color: #222222;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    background: #dddddd;
    transition: all linear 0.3s;
   
}

.member_card:hover a {
    background: #e23e38;
    color: #fff;
}

.member_card:hover h3 {
    background: #e23e38;
    color: #fff;
}

.member_card:hover {
    box-shadow: 1px 5px 22px 4px rgba(0, 0, 0, 0.4);
}

.member_card:hover h2 {
    transform: scale(1.1);
   
}
/* membership part end */


@media screen and (max-width: 575px) {
    .member_card_part{
        display: flex;
        flex-wrap: wrap;
        row-gap: 20px;
    }
    
    .member_card {
        width: 100%;
    }
}
/* membership responsive end */

.footer_top{
    display: flex;
    justify-content: space-between;
    padding: 60px;
    /* column-gap: 50px; */
    border-bottom: 2px solid rgba(255, 255, 255, 10%);
}

.footer_intro h2{
    font-size: 70px;
    font-weight: 800;
    font-style: italic;
    color: var(--danger);
    margin-bottom: 20px;

}

.footer_intro p{
    font-size: 14px;
    color: var(--secondary);
    line-height: 24px;
    width: 350px;
}

.footer_nav h3{
    font-size: 32px;
    font-weight: 700;
    color: white;
    margin-bottom: 25px;
}

.footer_nav ul li{
    margin-bottom: 20px;

}

.footer_nav ul li a{
    font-size: 16px;
    color: var(--secondary);
}
.footer_social{
    margin-top: 20px;
}
.footer_right_text p {
    color: var(--secondary);
    font-size: 13px;
    line-height: 24px;
    padding-left: 24px;
    position: relative;

}

.footer_right_text p i {
    position: absolute;
    left: 0;
    top: 5px;
    color: #e23e38;
}

.footer_social h4 {
    color: #fff;
    font-family: 'Oswald', sans-serif;
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
    margin-bottom: 28px;

}

.footer_social i {
    width: 32px;
    height: 32px;
    line-height: 32px;
    text-align: center;
    background: transparent;
    border: 2px solid var(--secondary);
    margin-right: 5px;
    color: var(--secondary);
    cursor: pointer;
    transition: all linear 0.3s;
    -webkit-transition: all linear 0.3s;
    -moz-transition: all linear 0.3s;
    -ms-transition: all linear 0.3s;
    -o-transition: all linear 0.3s;
}

.footer_social i:hover {
    background: #e23e38;
    border-color: #e23e38;
}
.footer_bottom{
    padding: 30px;
}
.footer_bottom p{
    font-size: 18px;
    color: var(--secondary);
    text-align: center;
    font-weight: 400;
}
/* footer part end */

@media screen and (max-width: 575px) {
    .footer_top{
        flex-wrap: wrap;
        row-gap: 30px;
        padding: 10px;
    }
    .footer_intro h2 {
        font-size: 60px;
    }
    .footer_nav h3 {
        font-size: 25px;
        margin-bottom: 15px;
    }
    .footer_intro, .footer_nav{
        width: 100%
    }
    .footer_intro p{
        width: 98%;
    }
    .footer_bottom {
        padding: 20px;
    }
    .footer_bottom p{
        font-size: 14px;
      
    }
    
}

/* footer responsive end*/








